.card{
    width: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#576CBC  ,#132A53 90%);
    gap: 10px;
    border-radius: 10px;
    padding-bottom: 18px;
}

.card img{
    margin-top: 18px;
    width: 298px;
    height: 200px;
    border-radius: 20px;
}
.info{
    width: 286px;
}
.info h3{
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.info p{
    font-size: 18px;
    color: white;
    font-weight: lighter;
}

.techStack{
    display: flex;
    width: 330px;
    justify-content: center;
    gap: 10px;
}
.tech{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B2447;
    border-radius: 100px;
    width: 97px;
    height: 36px;
}
.sourceSection{
    display: flex;
    justify-content: space-around;
    width: 286px;
    margin-top: 10px;
}

.button{
    width: 124px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:700;
    color: white;
    background-color: #576CBC;
    border-radius: 100px;
    border-width: 0px;
}
.button:hover{
    background-color: #95a9ee;
    cursor: pointer;
}